<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>QBE App</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap-autocomplete.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="{% static 'wwu.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      QBE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/predict">Run Query <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/train">Model Tuning <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/sqlgen">Data Generator<span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="m-3">
      {% block content %}{% endblock %}
    </div>    
  </body>
</html>
